.contacto{
    background-image: url("../imagenes/a.png");
    text-align: center;
    padding:  3em;
    margin-bottom: 4em;
}

.borde{

    margin-left:6.25rem;
    margin-right:6.25rem;  
    padding-bottom: 6.25rem; 
    border: 1px solid #969E93;
    
}


.formularioTrabajar1{
    margin:  4em;
}

.row{
 margin-top:0px ;
margin-left:200px;
margin-bottom:0px;
margin-right:200px;   
}

.form-floating{
    margin:  3em;
    margin-left:250px;
    margin-right:250px;  
}
