.contacto{
    background-image: url("../imagenes/fondo2.png");
    text-align: center;
    padding:  3em;
    margin-bottom: 4em;
}




.formularioTrabajar1{
    margin:  4em;
}

.row{
 margin-top:0px ;
margin-left:200px;
margin-bottom:0px;
margin-right:200px;   
}

.form-floating{
    margin:  3em;
    margin-left:250px;
    margin-right:250px;  
}
