
.estamos{
    background-image: url("../imagenes/fondo3.png");
    text-align: center;
    padding:  3em;
    margin-bottom: 4em;
   

 }



.ubicaciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 70px;
    grid-template-areas: 
                        "ubicacion1 ubicacion2"
                        "ubicacion3 ubicacion4"
                        "ubicacion4 ubicacion6";
                        
                    p{
                       text-align: center;
    }
}

.ubicacion1{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    height: auto;
    width: auto;
    h5{
        text-align: center;
    }
}
.ubicacion2{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    height: auto;
    width: auto;
    h5{
        text-align: center;
    }
}
.ubicacion3{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    height: auto;
    width: auto;
    h5{
        text-align: center;
    }
}
.ubicacion4{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    height: auto;
    width: auto;
    h5{
        text-align: center;
    }
}
.ubicacion5{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    height: auto;
    width: auto;
    h5{
        text-align: center;
    }

}
.ubicacion6{
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    height: auto;
    width: auto;
    h5{
        text-align: center;
    }

}



.btn-group{
  margin-left: 100px;
  margin-right: 100px;
  
}