* {
    padding: 0;
    margin: 0;
}

/*encabezado*/
.content_titulo{
    font-size: 50px;
    font-style: italic;
    text-align: center;
    color: $blanco;
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 10px; 
    
a{
    list-style-type: none;
    text-decoration: none;
    color: $blanco;

    }

    
   }

.titulo{
    font-size: 60px;

}
.titulo:hover{
    font-size: 60px;
    text-align: center;
    color: firebrick;
    border-bottom: 1px solid red;
    font-style: italic;
    }
 
 

header{
    background-color: black;
    padding: 3rem 0;
     nav{
         width: 90%;
         margin: 0 auto;
         ul{
             display: flex;
             justify-content: space-around;
             li{
                list-style-type: none;
                text-transform: uppercase;
                font-weight: 350;
                font-size: 1.3em;
                :hover{
                    color: firebrick;
                }
                a{
                    text-decoration: none;
                    color: $blanco;
                }
            }
         }
     }
}

/*Footer*/
.footer {
    margin-bottom: 0px;
    margin-top: 100px;
    padding: 100px;
    background-color: #412613;
    color: $blanco;
    a{
    list-style-type: none;
    text-decoration: none;
    color: $blanco;
    }

} 
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.redesSociales{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    margin-left: -0.8em;
    li{
        margin: 1em;
    }
    li:hover{
        transform:scale(1.5);
        transition: all 1s;
    }
    
}

