.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.redesSociales{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    margin-left: -0.8em;
    li{
        margin: 1em;
    }
    
}