

/*Recomendaciones*/
.recomendaciones{
    text-align: center;   
    margin: 4em;
    color: $gris;
    border-bottom: #969E93 1px solid;
    
}
.nuestrasRecomendaciones{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-template-rows: 2fr;
    grid-row-gap: 10px;
    margin-left: 10px;
    grid-template-areas: 
    "rec1 rec2 rec3"
    
    ;
}
.imagenRrec1{
    grid-area: rec1;
}
.rec2{
    grid-area: rec2;
}
.rec3{
    grid-area: rec3;
}                    

.recomendado{
    text-align: center;
    margin-top: 40px;
    margin-right: 30px;
    color:$gris;
    border-bottom: #969E93 1px solid;
}
.imagenRec1{
    border-radius: 10px;
}
.rec2{
    border-radius: 10px;
}
.rec3{
    border-radius: 10px;
}
.imagenRec1:hover{
    transform:scale(1.1);
    transition: all;
    transition-duration: 1s;
    border-radius: 100px;
}
.rec2:hover{
    transform:scale(1.1);
    transition: all;
    transition-duration: 1s;
    border-radius: 100px;
}
.rec3:hover{
    transform:scale(1.1);
    transition: all;
    transition-duration: 1s;
    border-radius: 100px;

}




.seccion{
    display: flex;
    flex-wrap:wrap;
    margin: 5em 0em 5em 0em;    
}


.disfruta{
    text-align: center;
    h5{
        margin: 2em

    }
}