
.nuestro{
    background-image: url("../imagenes/EL\ ORIGEN.png");
    text-align: center;
    padding: 3em;
    margin-bottom: 4em;  

 }



.tiposCafe{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 70px;
    grid-template-areas: 
                        "contenedor1 contenedor2"
                        "contenedor3 contenedor4";
}

.contenedor1{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    height: auto;
    width: auto;
}
.contenedor2{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    height: auto;
    width: auto;
}
.contenedor3{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    height: auto;
    width: auto;
}
.contenedor4{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: center;
    height: auto;
    width: auto;
    

}

.veneficiosCafe{
    text-align: center;   
    margin: 2em; 
    background-color: #735032;
}
.veneficios{
    display: flex;
    flex-wrap:wrap;
    justify-content:space-around;
   
}

.veneficios1{

    
    width: 400px;
    height: 400px;
    
}
.veneficios1:hover{
    
    width: 400px;
    height: 400px;
    box-shadow: 10px 10px #735032;

    transform:scale(1.1);
    transition: all;
    transition-duration: 1s;


}
