.subTrabajar{
    background-image: url("../imagenes/c.png");
    text-align: center;
    padding:  3em;
    margin-bottom: 4em;
    
}


.form-control-lg{
    margin-top:0px ;
    margin-left:400px;
    margin-bottom:0px;
    margin-right:400px;

}
.mb-3{
    margin-top:0px ;
    margin-left:400px;
    margin-bottom:0px;
    margin-right:400px;
}
.d-grid{
    margin-top:0px ;
    margin-left:400px;
    margin-bottom:0px;
    margin-right:400px;
}

