@import "variables";
@import "generales";
@import "contacto";
@import "index";
@import "encontranos";
@import "nosotros";
@import "trabajar";
@import "query";

@media screen and (max-width: 480px) and (min-width: 280px){
    /*encabezado index*/
    .content_titulo{
        background-color: #BF8360;
     }
    header{
        background-color:#BF8360;
        padding: 3rem 0;
        nav{
            width: 80%;
            margin: 0 auto;
            ul{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                li{
                 font-size: 20px;
                 text-align: center;
                   }
             } 
        }
   }


.nuestrasRecomendaciones{
            display: grid;
            text-align: center;
            grid-template-columns: 1fr;
            grid-template-rows: 2fr;
            grid-row-gap: 5px;
            padding-left: 0px;
            grid-template-areas: 
            "rec1" 
            "rec2" 
            "rec3"           
            ;
        }


        .imagenRec1:hover{
            display: grid;
            transform:scale(1.1);
            transition: all;
            transition-duration: 1s;
            padding-left: auto;
            padding-left: 2rem;
            
            
            
        }
        .rec2:hover{
            transform:scale(1.1);
            transition: all;
            transition-duration: 1s;
        }
        .rec3:hover{
            transform:scale(1.1);
            transition: all;
            transition-duration: 1s;
        
        }


      /*NOSOTROS*/

        .tiposCafe{
            display: grid;
            grid-template-columns: 1fr ;
            grid-template-rows: 1fr;
            grid-row-gap: 20px;
            grid-template-areas: 
                                "contenedor1"
                                "contenedor2"
                                "contenedor3"
                                "contenedor4"
                                ;
        }
        
        .contenedor1{
            display: grid;
            grid-template-columns: 30% 70%;
            align-items: center;
            height: auto;
            width: auto;
        }
        .contenedor2{
            display: grid;
            grid-template-columns: 30% 70%;
            align-items: center;
            height: auto;
            width: auto;
        }
        .contenedor3{
            display: grid;
            grid-template-columns: 30% 70%;
            align-items: center;
            height: auto;
            width: auto;
        }
        .contenedor4{
            display: grid;
            grid-template-columns: 30% 70%;
            align-items: center;
            height: auto;
            width: auto;
        
        }

    /*TRABAJA CON NOSOTROS*/
    .form-control-lg{
        
        margin-left:0px;    
        margin-right:0px;
    
    }
    .mb-3{
       
        margin-left:0%;
    
        margin-right:0px;
    }
    .d-grid{      
        margin-left:400px;
        
        margin-right:400px; 
    }
/*
    .redesSociales{
        display:grid;
        
        list-style-type: none;
        justify-content: space-around;
        text-align: end;
        margin-left: -0.8em;
     
    }
}



.redesSociales{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    margin-left: -0.8em;
    li{
        margin: 1em;
    }
    li:hover{
        transform:scale(1.5);
        transition: all 1s;
    }
    
}
*/
}