* {
    padding: 0;
    margin: 0;
}
@import "generales";
@import "contacto";
@import "index";
@import "encontranos";
@import "nosotros";
@import "trabajar";


/*encabezado*/
.content_titulo{
    font-size: 50px;
    font-style: italic;
    text-align: center;
    color: blanchedalmond;
    background-color: #000000;
    padding-top: 50px;
    padding-bottom: 10px;
    
        
    
    
    
   }

.titulo{
    font-size: 60px;

}
.titulo:hover{
    font-size: 60px;
    text-align: center;
    color: firebrick;
    border-bottom: 1px solid red;
    font-style: italic;
    }
 
 

header{
    background-color: black;
    padding: 3rem 0;
     nav{
         width: 80%;
         margin: 0 auto;
         ul{
             display: flex;
             justify-content: space-around;
             li{
                list-style-type: none;
                text-transform: uppercase;
                font-weight: 400;
                font-size: 26px;
                :hover{
                    color: firebrick;
                }
                a{
                    text-decoration: none;
                    color: blanchedalmond;
                }
            }
         }
     }
}


/*Footer*/
footer {
    margin-bottom: 0px;
    margin-top: 10px;
    padding: 10px;
    background-color: #73482F;
    color: rgb(255, 255, 255);

}




/*Recomendaciones*/
.recomendaciones{
    text-align: center;
    margin: 50px;

}
.nuestrasRecomendaciones{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr;
    grid-row-gap: 10px;
    grid-template-areas: 
    "rec1 rec2 rec3"
    
    ;
}
.rec1{
    grid-area: rec1;
}
.rec2{
    grid-area: rec2;
}
.rec3{
    grid-area: rec3;
}                    
